<div class="about">

    <div class="about-content">
        <div class="title">
            <h2>ABOUT COMPONENT</h2>
            <div class="line-star-line">
                <div class="line"></div>
                <i class="fa-solid fa-star"></i>
                <div class="line"></div>
            </div>

        </div>
        <div class="about-text">
            <div class="container">
                <div class="row-tw">
                    <div class="right-text">
                        <p>Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
                    </div>
                    <div class="left-text">
                        <p>
                            Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>