<div class="portfolio">

    <div class="portfolio-content">
        
        <div class="title">
            <h2>portfolio component</h2>
            <div class="line-star-line">
                <div class="line"></div>
                <i class="fa-solid fa-star"></i>
                <div class="line"></div>
            </div>

        </div>

        <div class="portfolio-images">

            <div class="container">

                <div class="row-tw" >
    
                    <div (click)="openModal('images/poert1.png')"  class="item-image">
                        <div class="inner">
                            <img src="images/poert1.png" alt="">
                            <div class="overlay"><i class="fa-solid fa-plus"></i></div>
                        </div>
                    </div>
    
                    <div (click)="openModal('images/port2.png')"  class="item-image">
                        <div class="inner">
                            <img src="images/port2.png" alt="">
                            <div class="overlay"><i class="fa-solid fa-plus"></i></div>
                        </div>
                    </div>
    
                    <div (click)="openModal('images/port3.png')"  class="item-image">
                        <div class="inner">
                            <img src="images/port3.png" alt="">
                            <div class="overlay"><i class="fa-solid fa-plus"></i></div>
                        </div>
                    </div>
    
                    <div (click)="openModal('images/poert1.png')"  class="item-image">
                        <div class="inner">
                            <img src="images/poert1.png" alt="">
                            <div class="overlay"><i class="fa-solid fa-plus"></i></div>
                        </div>
                    </div>
                    
                    <div (click)="openModal('images/port2.png')"  class="item-image">
                        <div class="inner">
                            <img src="images/port2.png" alt="">
                            <div class="overlay"><i class="fa-solid fa-plus"></i></div>
                        </div>
                    </div>
    
                    <div (click)="openModal('images/port3.png')"  class="item-image">
                        <div class="inner">
                            <img src="images/port3.png" alt="">
                            <div class="overlay"><i class="fa-solid fa-plus"></i></div>
                        </div>
                    </div>
    
    
                </div>
            </div>
        </div>
    </div>

    


    
</div>

@if(open){
    <app-image-modal  [imgSrc]="imgSrc"></app-image-modal>

}
